@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  /*font-weight: normal; */
  font-weight: 1000;
  font-style: normal;
}

* {
font-family: 'SF_HambakSnow';
}

/* 메인 */
#main {
  margin: auto;
  margin-top: 0px;
  border-radius: 0px;
  font-size: 25px;
  background-color: #FF5E5A;
  text-align: center;
  width: 800px;
  height: 1000px;
}

/* 채팅 영역 */
#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  
}

/* 접속 알림 */
.connect {
  width: 90%;
  margin: auto;
  background-color: #7BBDFF;
  text-align: center;
  position: none;
  margin-top: 30px;
  animation: fadeOut 15s forwards ;/*linear infinite;*/
  animation: move 15s   forwards ;/*ease-in-out;/*infinite*/
}

/* 접속 종료 알림 */
.disconnect {
  width: 90%;
  margin: auto;
  background-color: #7BBDFF;
  text-align: center;
  margin-top: 10px;
  animation: fadeOut 15s forwards ;/*linear infinite;*/
  animation: move 15s   forwards ;/*ease-in-out;/*infinite*/
}

/* 내가 보낸 메시지 
.me {
 / width: 90%;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-top: 10px;
}*/

/* 상대방이 보낸 메시지 */
.other {
  width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  margin-top: 10px;
  animation: fadeOut 15s forwards ;/*linear infinite;*/
  animation: move 15s   forwards ;/*ease-in-out;/*infinite*/
}


.fade-in {

  animation: fadeIn 2s;
/* animation will connect up to the keyframe *- 키프레임과의 연결*/
}

.fade-out {

  animation: fadeOut 2s infinite alternate;
/* animation will connect up to the keyframe *- 키프레임과의 연결*/
}

.mover {
  width: 50px;
  height: 50px;
  background: #f06d06;
  border-radius: 50%;
  animation: move 5s /*infinite ease-in-out;*/
}


@keyframes fadeIn {
/* identifier */

from {

  opacity: 0;
}

to{

  opacity: 1;
}

}

@keyframes fadeOut {
  /* identifier */
  
  from {
  
    opacity: 1;
  }
  
  to{
  
    opacity: 0;
  }
  
  }

  @keyframes move {
    20%, 100% {
      opacity: 0;
      transform: translate(200px,0px);
    }
   /* 0% {
      opacity: 0;
    }
     10% {
      opacity: 1;
    }*/
  }
  

